h1 {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body,
html {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}