:root {
    --khaki-beige: #c3a995ff;
    --dusty-taupe: #ab947eff;
    --ash-brown: #6f5e53ff;
    --dusty-taupe-2: #8a7968ff;
    --chocolate-plum: #593d3bff;
}


body,
html {
    background-color: var(--khaki-beige);
}


#front_matter,
#content,
#all-content-table {
    padding: 16px;
    background-color: var(--dusty-taupe);
}


#front_matter p {
    text-align: center;
}


#text_title,
#page_title,
#text_blurb {
    display: inline-block;
    width: 100%;
    text-align: center;
}


table,
table tr,
table td {
    border: 1px solid;
    padding: 2px;
}

#all-content-table {
    text-align: center;
    width: 100%;
}